<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site is created by Daniel Stanlee. It uses data from mapbox.com and weatherstack.com!</p>
    <img src="/img/home_img.jpeg">
    {{>footer}}
</body>

</html>